<%- include('../includes/head.ejs') %>

<body>
  <div class="page-wrapper">
    <div class="login-wrapper">
      <div class="login-title">
        <h1>Reset Password</h1>
      </div>
      <form class="login-form" action="/reset-password" method="POST">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your password" required>
          <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
          <input type="hidden" name="userId" value="<%= userId %>">
        </div>
        <div class="cta-btn-wrapper">
          <button type="submit" class="cta-btn">Reset</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>