<body>
  <div class="page-wrapper">
    <div class="title-wrapper">
      <h1><%= heading %></h1>
    </div>
    <div class="center-wrapper">
      <div class="left-layout">
        <div class="timer-box">
          <div class="timer">
            <div class="hours">00</div>
            <div class="dot">:</div>
            <div class="minutes">03</div>
            <div class="dot">:</div>
            <div class="seconds">29</div>
          </div>
        </div>