<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="icons/icon.png" type="image/png" />
    <link rel="stylesheet" href="css/game.css" />
    <link rel="stylesheet" href="<%= cssFile %>" />
    <script src="<%= scriptFile %>" defer></script>
    <script src="js/timer.js" defer></script>
    <script src="js/darkMode.js" defer></script>
    <title><%= pageTitle %></title>
  </head>
</html>
