<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="icons/icon.png" type="image/png" />
    <script
      src="https://kit.fontawesome.com/b262aa5062.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/index.js" defer></script>
    <script src="js/timer.js" defer></script>
    <script src="js/darkMode.js" defer></script>
    <title>Mind-Rush</title>
  </head>
  <body>
    <% if (loginMessage) { %>
    <div class="message-wrapper">
      <div class="profile-image"><img src="/<%= profileImage %>" alt="" /></div>
      <p><%= loginMessage %></p>
    </div>
    <% } %>

    <div class="dark-mode-wrapper">
      <button class="theme-switch-btn" id="theme-switch-btn">
        <i class="fa-solid fa-moon"></i>
      </button>
    </div>

    <div class="page-wrapper">

      <div class="circle"></div>

      <div class="brain">
        <%- include('views/includes/index-svg.ejs') %>
      </div>

      <div class="menu-bar">
        <div class="menu-title">
          <h1>Mind Rush</h1>
        </div>
        <div class="menu-links">
          <ul>
            <li>
              <a href="/banana-math" id="start-game" class="active"
                >Start Game</a
              >
            </li>
            <li><a href="/leaderboard">Leaderboard</a></li>
            <% if(!isAuthenticated) { %>
            <li><a href="/login" id="login-btn">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <%} else { %>
            <li><a href="/profile" id="profile-btn">Profile</a></li>  
            <li><a href="/logout" id="logout-btn">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
