<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="icons/icon.png" type="image/png" />
    <link rel="stylesheet" href="css/error.css" />
    <title>500</title>
  </head>
<body>
  <div class="image-wrapper">
    <img src="gifs/500.gif" alt="500 image">
  </div>
</body>
</html>

