@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbit&family=Permanent+Marker&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #F7F7F7;
  --apricot-cream: #FDE3D0;
  --muted-coral: #E5A17C; 
  --black: #3A3A3A; 
  --purple: #6450BC;
  --bright-blue: #0066FF;
  --rust: #B85C38;  
}


a {
  text-decoration: none;
}

.error-wrapper {
  background-color: var(--white);
  border-radius: 12px;
  padding: 0.75rem 1rem;
  color: var(--black);
}


/*
  .permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

*/

/*
  .orbit-regular {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
*/

/* .exo-2-<uniquifier> {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

