@import url('global.css');

body {
  width: 100vw;
  height: 100vh;
  padding: 60px;
  overflow: hidden;
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg);
}

 .dark-mode {
  background: var(--bg-inverse);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 1.5rem;
}

.title-wrapper {
  width: 100%;
  height: 20%;
}

h1{
  text-align: center;
  color: var(--text);
  font-size: 2.5rem;
}

.dark-mode h1 {
  color: var(--bg);
}

.center-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 2.5rem 4rem;
  border-radius: 2.5rem;
  background-color: var(--primary);
}

.dark-mode .center-wrapper {
  background-color: var(--primary-inverse);
}

.leader-boards{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: 100%;
  height: auto;
}

.view-all-leaderboards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  height: auto;
  padding: 24px;
  border-radius: 2.5rem;
  transition: width 0.5s ease;
  color: var(--text);
}

.view-all-leaderboards.resize {
  width: 150%;
}

.all-leaderboard {
  display: none;
  width: 100%;
  border-radius: 2.5rem;
  padding: 2rem;
  overflow: hidden;
  transition: all 0.5s ease;
}

.all-leaderboard.show {
  display: flex;
  overflow-y: auto;
}

.all-leaderboard-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.ranker-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

.ranker-index {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  display: flex;
  justify-content: center; 
  align-items: center;      
}

.ranker-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranker-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.ranker-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.ranker-name {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.ranker-time {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.all-leaderboard::-webkit-scrollbar {
  width: 0.5rem;
}

.all-leaderboard::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 0.5rem;
}

.all-leaderboard::-webkit-scrollbar-track {
  background: var(--accent);
}

.achievers-svg {
  width: 30%;
  height: auto;
}

.achievers-svg.hide {
  display: none;
}

.cta-btn {
  padding: 0.5rem 1rem;
  border: 2px solid var(--text);
  border-radius: 30px;
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: var(--text);
  width: 30%;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s ease-in;
}

.dark-mode .cta-btn {
  border: 2px solid var(--complementary-inverse);
  color: var(--complementary-inverse);
}

.cta-btn:hover {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.dark-mode .cta-btn:hover {
  border: 2px solid var(--accent-inverse);
  color: var(--accent-inverse);
}

.cta-btn:focus {
  border: 2px solid var(--bright-blue);
  color: var(--bright-blue);
}

.dark-mode .cta-btn:focus {
  border: 2px solid var(--complementary-inverse);
  color: var(--complementary-inverse);
}

.top-rankings, .view-all-leaderboards {
  width: 50%;
  height: 276px;
  background-color: var(--bg);
  border-radius: 2.5rem;
  padding: 2rem;
}

.dark-mode .top-rankings, .dark-mode .view-all-leaderboards {
  background-color: var(--accent);
}

.top-ranking-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.top-rankings-card{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  height: 33.33%;
}

.leader-index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 100%;
  min-width: 3rem; 
  min-height: 3rem;
  color: var(--text);
}

.leader-index img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.leader-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leader-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.leader-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  color: var(--text);
}

.leader-name {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: var(--text);
}

.leader-time {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: var(--text);
}

.cta-btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 60%;
  height: 20%;
}

