@import url('global.css');

body {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg);
  padding: 7.5rem 3.75rem;
}

body, 
.dark-mode-wrapper, 
.menu-bar, 
.message-wrapper, 
.circle, 
.menu-links a, 
.menu-title {
  transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
}

.dark-mode {
  background-color: var(--bg-inverse);
}

.message-wrapper {
  position: absolute;
  top: 2rem;
  right: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 15rem;
  height: 3.5rem;
  border-radius: 12px;
  background: var(--accent);
  color: var(--text);
  white-space: nowrap;
  transform: translateY(-100%);
  opacity: 0;
  animation: slideDown 0.5s ease forwards 2s; /* Start after 2s */
}

.dark-mode .message-wrapper {
  background: var(--accent-inverse);
  color: var(--bg);
}

.profile-image {
 height: 3rem;
 width: 3rem;
 border-radius: 50%; 
 overflow: hidden;
}

.profile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dark-mode-wrapper {
  position: absolute;
  top: 47%;
  left: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 12px;
  background-color: var(--bg-inverse);
  cursor: pointer;
}

.dark-mode .dark-mode-wrapper {
  background-color: var(--accent-inverse);
}

.theme-switch-btn {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.theme-switch-btn i {
  font-size: 1rem;
  color: var(--bg);
}

.dark-mode .theme-switch-btn i {
  color: var(--bg);
}

/* Page Wrapper */
.page-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle {
  position: absolute;
  top: 0;
  left: 10%; 
  width: 20rem;  
  height: 20rem; 
  border-radius: 50%; 
  background: linear-gradient(90deg, var(--primary) 22%, var(--gradient) 61%);
  z-index: 1;
  opacity: 0; 
  pointer-events: none;
  transition: opacity 3s ease-in;
}

.dark-mode .circle {
  background: var(--accent-inverse);
}

.circle.show {
  opacity: 1;
}

/* Brain SVG (Starts Center, Slides Left) */
.brain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideBrain 2s ease forwards;
  z-index: 2;
}

.brain svg {
  width: 38.25rem;
  height: 31.25rem;
}

@keyframes slideBrain {
  0% {
    left: 50%;
  }
  100% {
    left: 15rem; 
  }
}

.menu-bar.show {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  width: 45rem;
  height: 100%;
  border-radius: 2rem;
  z-index: 10;
  gap: 2rem;
  background-color: var(--primary);
  opacity: 0;
}

.dark-mode .menu-bar {
  background-color: var(--primary-inverse);
}

.menu-title {
  text-align: center;
  font-size: 2rem;
  color: var(--bg);
  opacity: 0;
  transform: translateY(-100%);
  animation: slideTitle 2s ease forwards 3s; /* Delayed start */
}

@keyframes slideTitle {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-links a {
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 3.75rem;
  border-radius: 1.875rem;
  color: var(--bg);
  transition: all 0.3s ease;
}

.menu-links a:hover {
  background-color: var(--accent);
  color: var(--text);
}

.menu-links a.active {
  background-color: var(--accent);
  color: var(--text);
}

.menu-links a.active:hover {
  background: var(--text);
  color: var(--bg);
}

.dark-mode .menu-links a.active:hover {
  background: var(--accent-inverse);
  color: var(--bg);
}