@import url('global.css');

.error-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--complementary);
  border-radius: 12px;
  padding: 0.75rem 1rem;
  color: var(--bg);
}

.error-message {
  color: var(--bg);
}

.dark-mode .error-wrapper {
  background-color: var(--accent-inverse);
  color: var(--bg);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100vh;
  background-color: var(--primary);
  padding: 2rem;
  overflow: hidden;
}

.dark-mode .page-wrapper {
  background-color: var(--bg-inverse);
}

.signup-wrapper {
  width: 60%;
  padding: 2.5rem;
  border-radius: 2rem;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.dark-mode .signup-wrapper {
  background-color: var(--primary-inverse);
}

.signup-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}

.signup-title h1 {
  font-family: "Orbit", sans-serif;
  font-size: 3rem;
  color: var(--text);
  text-align: center;
}

.dark-mode h1 {
  color: var(--bg);
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-family: "Orbit", sans-serif;
  font-size: 1.2rem;
  color: var(--text);
}

.dark-mode label {
  color: var(--bg);
}

.form-group input {
  padding: 1rem;
  border: 2px solid var(--text);
  border-radius: 1rem;
  font-family: "Orbit", sans-serif;
  outline: none;
  transition: border-color 0.3s ease;
}

.dark-mode .form-group input {
  border-color: var(--bg-inverse);
}

input[type="file"] {
  background-color: var(--bg); 
  color: var(--text);
}

.form-group input:focus {
  border-color: var(--accent);
}

.dark-mode .form-group input:focus {
  border-color: var(--bg);
}

.form-group input.invalid {
  border-color: var(--complementary); 
}

.dark-mode .form-group input.invalid {
  border-color: var(--accent-inverse);
}

.btn-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.cta-btn, .cta-btn-google {
  padding: 0.8rem 1.2rem;
  background-color: var(--text);
  color: var(--bg);
  border: none;
  border-radius: 1rem;
  font-family: "Orbit", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-mode .cta-btn, .dark-mode .cta-btn-google {
  background-color: var(--accent);
  color: var(--bg-inverse);
}

.cta-btn:hover, .cta-btn-google:hover {
  background-color: var(--accent);
  color: var(--text);
}

.dark-mode .cta-btn:hover, .dark-mode .cta-btn-google:hover {
  background-color: var(--accent-inverse);
  color: var(--bg);
}

.google-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 35%;
}

img {
  width: 1.5rem;
  height: 1.5rem;
}

p {
  font-family: "Orbit", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  color: var(--text);
}

.dark-mode p {
  color: var(--bg);
}

.vertical-line {
  height: 27rem;
  width: 2px;
  border: 3px solid var(--primary); 
}

.dark-mode .vertical-line {
  border-color: var(--bg);
}