@import url('global.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem 2rem;
}

.quote-display, .quote-input  {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  height: auto;
  width: 100%;  
  font-size: 1.5rem;
  text-align: left;
  padding: 1rem;
  color: var(--text);
  background-color: var(--bg);
  border-radius: 0.75rem;
  border: 2px solid var(--text);
}

.dark-mode .quote-display, .dark-mode .quote-input {
  color: var(--bg);
  background-color: var(--primary-inverse);
}

.quote-input {
  height: 30%;
  outline: none;
  font-size: 1.2rem;
  color: var(--text-dark);
  transition: all 0.3s ease-in-out;
}

input, textarea {
  font-family: inherit; 
}

.quote-input::placeholder {
  font-style: italic; 
  color: var(--primary);
}

.dark-mode .quote-input::placeholder {
  color: var(--bg);
}

.quote-input:focus {
  border-color: var(--purple);
  box-shadow: 0 0 8px var(--bright-blue);
}

.dark-mode .quote-input:focus {
  border-color: none;
  box-shadow: none;
}

.correct {
  color: var(--bright-blue);
}

.dark-mode .correct {
  color: var(--deep-teal);
}

.incorrect {
  color: var(--complementary);
  text-decoration: underline;
}

.dark-mode .incorrect {
  color: var(--accent-inverse);
}
