@import url('global.css');

table {
	border-collapse: collapse;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

td {
	border:  2px solid var(--text);
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	font-size:  5rem;
	cursor: pointer;
}

.cell[data-player="O"] {
  color: var(--text); /* Human player */
}

.cell[data-player="X"] {
  color: var(--text); /* AI player */
}

.win-cell {
  background-color: var(--accent) !important; /* Highlight winning cells */
}

.tie-cell {
  background-color: var(--bright-blue) !important; /* Highlight all cells on a tie */
}

.dark-mode td {
	border-color: var(--bg);
}

.dark-mode .cell[data-player="O"] {
	color: var(--accent-inverse);
}

.dark-mode .cell[data-player="X"] {
	color: var(--bg);
}

.dark-mode .win-cell {
  background-color: var(--complementary-inverse) !important; /* Highlight winning cells */
}

.dark-mode .tie-cell {
  background-color: var(--deep-teal) !important; /* Highlight all cells on a tie */
}

.dark-mode .computer-response-text {
  color: var(--bg);
}